<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FP KKA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="static/data/stasiun.geojson"></script>
    <script src="static/data/rel.geojson"></script>

    <style>
        #map {
            height: 80vh;
            width: 100%;
        }

        form {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div style="align-items: center; background-color: grey; height: 75px;" class="row text-center">
        <h3 class="text-white">Proyeksi Jalur Kereta Api Whoosh</h3>
    </div>
    <form id="data-form" action="/find_path" method="post">
        <label for="user-data">Masukkan Data</label><br>
        <label for="start_node">Start Node:</label>
        <input type="text" id="start_node" name="start_node" required><br>
        <label for="finish_node">Finish Node:</label>
        <input type="text" id="finish_node" name="finish_node" required><br>
        <button type="submit">Find Path</button>
    </form>
    
    <p id="response"></p>

    <div id="map"></div>

    <script>
        
        document.addEventListener("DOMContentLoaded", function () {
            var map = L.map('map').setView([-7.299072344884493, 109.94257314468808], 7); // Ganti dengan koordinat dan zoom yang sesuai
    
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
    
            // Tambahkan layer GeoJSON ke peta
            fetch('static/data/stasiun.geojson')
            .then(response => response.json())
            .then(data => {
                var stasiunLayer = L.geoJSON(data).addTo(map);
            })
            .catch(error => {
                console.error('Error loading GeoJSON data:', error);
            });
            fetch('static/data/rel.geojson')
            .then(response => response.json())
            .then(data => {
                var relLayer = L.geoJSON(data).addTo(map);
            })
            .catch(error => {
                console.error('Error loading GeoJSON data:', error);
            });
        });
    
        document.getElementById("data-form").addEventListener("submit", function (e) {
            e.preventDefault();
            let startNode = document.getElementById("start_node").value;
            let finishNode = document.getElementById("finish_node").value;
            sendDataToPython([startNode, finishNode]);
        });
    
        function sendDataToPython(data) {
            fetch("/process_data", {
                method: "POST",
                body: JSON.stringify({ data: data }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Tambahkan kode di sini untuk menampilkan hasil algoritma, misalnya:
                document.getElementById("response").innerText = "Hasil Algoritma: " + data.stasiun + " ";
            });
        }
    </script>
    
</body>

</html>
